nav {
    font-family: "Spartan", sans-serif;
    font-weight: 300;
    background: #051238 ;
  }
  .navbar-brand {
    font-family: "Spartan", sans-serif;
    font-weight: 700;
  }
  main {
    background: #6A7696;
    color: #051238;
    min-height: 770px;
    height: auto;
    background-size: cover;
    padding-bottom: 100px;
    
  }

  main h1 {
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    margin-top: 30px;
  }
  
  p {
    font-family: "Libre Baskerville", serif;
  }


  header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    margin-top: -50px;
    border-bottom: #051238 solid 10px;
  }

  .headshot {
    width: 310px;
    margin: auto;
    border: #6A7696 solid 7px;
    margin-top: -100px;
  }
  .icons { 
      width: 40px;
      padding: 5px;
      clear:both;
  }
  .icons:hover  {
      opacity: 50%;
  }

  footer {
      background: #051238 ;
      padding: 15px;
      text-align: center;
  }

  footer p {
    font-family: "Spartan", sans-serif;
    font-weight: 300;
    font-size: small;
    color: #6A7696;
    text-align: center;
    margin-top: 15px;
}